{% extends "@admin/layout.twig" %}
{% block title "Create" %}
{% block body %}

    <h1>Ajouter un produit</h1>
    <form action="{{ path('admin.product.create') }}" method="post">
        <div class="form-group">
            <label for="name"> Nom du  produit  </label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="category"> Category </label>
            <select class="form-control" id="category" name="category">
                {% for key, value in categories%}
                    <option  value="{{ key }}">{{ value }}</option>
                {%  endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="price"> Prix du  produit  </label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="form-group">
            <label for="quantity"> Quantité </label>
            <input type="text" class="form-control" id="quantity" name="quantity">
        </div>
        <button class="btn btn-primary" type="submit" >Ajouter</button>
    </form>

{% endblock %}