{% extends "layout.twig" %}
{% block body %}
    <br>    <br>    <br>    <br>    <br>

    <div class="container">
        <h1>{{ item.id }}</h1>
        {{ item.price }}
        {{ item.description }}

    </div>

{% endblock %}